# 4. Užduotis

In [7]:
set.seed(314)

Duomenys

In [15]:
(data <- data.frame(
    i = 1:11,
    a_i_1 = c(0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000),
    a_i = c(100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, Inf),
    U_i = c(8, 12, 19, 23, 29, 30, 25, 18, 15, 14, 18)
))

   i  a_i_1 a_i  U_i
1   1    0   100  8
2   2  100   200 12
3   3  200   300 19
4   4  300   400 23
5   5  400   500 29
6   6  500   600 30
7   7  600   700 25
8   8  700   800 18
9   9  800   900 15
10 10  900  1000 14
11 11 1000   Inf 18

Tarę, kad buvo stebėtas a. d., turinti Veibulo skirstinį, įvertinkite nežinomus parametrus.

$$
L(\theta) = \frac{n!}{Z_{n_1}! Z_{n_2}! \ldots Z_{n_N}!} {p_1}^{Z_{n_1}}(\theta) {p_2}^{Z_{n_2}}(\theta) \ldots {p_N}^{Z_{n_N}}(\theta)
$$


Čia $Z_{n_i}$ atitinka $U_i$. Naudodami uždavinio sąlygos pažymėjimus ir atmettę dėmenis, į kuriuos neįeina parametrai, gauname funkciją, kurią reikia maksimizuoti:

$$
l^* = \sum_{i=1}^k U_i \ln{(p_i (\eta, \nu))} = \sum_{i=1}^k U_i \ln{(F(a_i; \eta, \nu) - F(a_{i-1}; \eta, \nu))},
$$

čia $F(t; \eta, \nu)  = 1 - \exp{\{-{(t / \eta)}^\nu\}}$ yra Veibulo pasiskirstymo funkcija, $k$ - intervalų skaičius (11).

In [16]:
k <- 11 

target_f <- function(theta) {
    eta <- theta[1]
    nu <- theta[2]
    
    N <- k - 1
    
    s_1 <- data$U_i[1] * log(
        pweibull(data$a_i[1], shape = nu, scale = eta, lower.tail = TRUE)
    )
     
    s_middle <- sum(
        data$U_i[2:N] * log(
            pweibull(data$a_i[2:N], shape = nu, scale = eta, lower.tail = TRUE)
            - pweibull(data$a_i_1[2:N], shape = nu, scale = eta, lower.tail = TRUE)
        )
    )

    s_k <- data$U_i[k] * log(
        1 - pweibull(data$a_i_1[k], shape = nu, scale = eta, lower.tail = TRUE)
    )

    return(s_1 + s_middle + s_k)
}

In [17]:
mle <- maxLik::maxLik(logLik = target_f, start = c(650, 2)) # WTF kaip parinkti startai?
coef(mle)

[1] 649.273148   1.999535